<h1 class="text-center">
  following are the list of maharashtra districts
</h1>
<div class="container">
    <div class="row">
        <div class="col-4">
       <div class="demo mt-4">
      <ul class = 'list-group'>
        <li class="list-group-item font-weight-bold text-capitalize">
          Sangli
        </li>
        <li class="list-group-item">
          Satara
        </li>  <li class="list-group-item">
          Solapur
        </li>  <li class="list-group-item">
          Kholhapur
        </li>  <li class="list-group-item">
          pune
        </li>
        <li class="list-group-item text-capitalize">
          list no-1
       </li>


         
     

        
      </ul>
       </div>
  </div>

  <div class="col-4">
    <div class="demo mt-4">
   <ul class = 'list-group'>
     <li class="list-group-item font-weight-bold text-capitalize">
       Akola
     </li>
     <li class="list-group-item">
       Amravati
     </li>  <li class="list-group-item">
       Buldhana
     </li>  <li class="list-group-item">
       Washim
     </li>  <li class="list-group-item">
       Aurangabad
     </li>
     <li class="list-group-item text-capitalize">
      list no-2
   </li>

  
  
     
   </ul>
    </div>
  </div>
  
  <div class="col-4">
    <div class="demo mt-4">
   <ul class = 'list-group'>
     <li class="list-group-item font-weight-bold text-capitalize">
       Beed 
     </li>
     <li class="list-group-item">
       Jalna
     </li>  <li class="list-group-item">
       Osmanabad
     </li>  <li class="list-group-item">
       Nanded
     </li>  <li class="list-group-item">
       Latur
     </li>
     <li class="list-group-item text-capitalize">
      list no-3
   </li>

  
  
     
   </ul>
    </div>
  </div>
  
  
  <div class="col-4 mt-5">
    <div class="demo">
   <ul class = 'list-group'>
     <li class="list-group-item font-weight-bold text-capitalize">
       Parbhani 
     </li>
     <li class="list-group-item">
       Hingoli
     </li>  <li class="list-group-item">
       Bhandara
     </li>  <li class="list-group-item">
        Chandrapur
     </li>  <li class="list-group-item">
        Gadchiroli
     </li>
     <li class="list-group-item text-capitalize">
      list no-4
   </li>

  
  
     
   </ul>
    </div>
  </div>
  
  <div class="col-4 mt-5">
    <div class="demo">
   <ul class = 'list-group'>
     <li class="list-group-item font-weight-bold text-capitalize">
       Gondia
     </li>
     <li class="list-group-item">
       Nagpur
     </li>  <li class="list-group-item">
       Wardha
     </li>  <li class="list-group-item">
       Ahemednagar
     </li>  <li class="list-group-item">
       Nashik
     </li>
     <li class="list-group-item text-capitalize">
      list no-5
   </li>

  
  
     
   </ul>
    </div>
  </div>
  
  <div class="col-4 mt-5">
    <div class="demo">
   <ul class = 'list-group'>
     <li class="list-group-item font-weight-bold text-capitalize">
       Dhule 
     </li>
     <li class="list-group-item">
       Jalgaon
     </li>  <li class="list-group-item">
       Mumbai
     </li>  <li class="list-group-item">
       Thane 
     </li>  <li class="list-group-item">
       Ratnagiri
     </li>
     <li class="list-group-item text-capitalize">
      list no-6
   </li>

    
  
     
   </ul>
    </div>
  </div>
  
  
  
  
    
  
</div>
</div>


